


<nav class="sticky top-0 z-50 bg-white   shadow-md  ">
  <div class="container mx-auto px-4 flex justify-between items-center ">
    <div class="flex items-center justify-between pt-4 md:pt-4 ">
      <a href="{% url 'carzz:home' %}" class="h-12 w-12 mr-4">
        <span class="text-2xl font-sans text-red-700  dark:text-red-700">CARZZ</span>
      </a>
          <!-- <button
      id="theme-toggle"
      class="p-2 bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100 rounded">
      Toggle Theme
    </button> -->

     
    </div>
    {% if request.user.is_authenticated %}
      {% if request.user.is_dealer %} 
        {% if dealer_profile and dealer_profile.pic %}
   
      <div class="bg-white shadow rounded-full w-8 h-8">
        <img
          src="{{ dealer_profile.pic.url }}"
          alt="profile-pic"
          class="w-8 h-8 rounded-full mb-4 shrink-0"
        />
      </div>
    {% else %}
      <div class="bg-white shadow rounded-full w-8 h-8">
        <img
          src=""
          alt="default-profile-pic"
          class="w-8 h-8 rounded-full mb-4 shrink-0"
        />
      </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if request.user.is_authenticated %}
    {% if not request.user.is_dealer %}
    {% if user_profile and user_profile.profile_picture %}
    <div class="bg-white shadow rounded-full w-8 h-8">
      <img
        src="{{ user_profile.profile_picture.url }}"
        alt="profile-pic"
        class="w-8 h-8 rounded-full mb-4 shrink-0"
      />
    </div>
  {% else %}
    <div class="bg-white shadow rounded-full w-8 h-8">
      <img
        src=""
        alt="default-profile-pic"
        class="w-8 h-8 rounded-full mb-4 shrink-0"
      />
    </div>
  {% endif %}
  {% endif %}
  {% endif %}
        


     

    <!-- Navigation Links -->
    <div class="hidden md:block ">
      <div class="space-x-5">
        <a href="{% url 'carzz:coming-soon' %}" class="text-black transition-colors font-medium hover:text-red-700">Inventory</a>
        <a href="{% url 'carzz:coming-soon' %}" class="text-black transition-colors font-medium hover:text-red-700">About Us</a>
        <a href="{% url 'carzz:coming-soon' %}" class="text-black transition-colors font-medium hover:text-red-700">Cars</a>
        <a href="{% url 'carzz:coming-soon' %}" class="text-black transition-colors font-medium hover:text-red-700">Services</a>
        <a href="{% url 'carzz:coming-soon' %}" class="text-black transition-colors font-medium hover:text-red-700">Contact</a>
      </div>
    </div>

    <!-- Hamburger Button -->
    <div class="md:hidden">
      <button id="menu-toggle" class="text-black focus:outline-none">
        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="#e91c1c">
          <rect width="352" height="32" x="80" y="96" class="ci-primary"></rect>
          <rect width="352" height="32" x="80" y="240" class="ci-primary"></rect>
          <rect width="352" height="32" x="80" y="384" class="ci-primary"></rect>
        </svg>
      </button>
    </div>

    <!-- Auth Buttons -->
    <div class="hidden md:flex items-center space-x-4">
      {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">Logout</a>
        <a href="{% url 'carzz:dashboard_router' %}" class="bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">Your Dashboard</a>
      {% else %}
        <a href="{% url 'register' %}" class="bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">SignUp</a>
        <a href="{% url 'login' %}" class="bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">Login</a>
      {% endif %}
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="md:hidden bg-white hidden dark:bg-gray-800">
    <div class="px-4 pt-2 pb-4 space-y-2">
      <a href="{% url 'carzz:coming-soon' %}" class="block text-black hover:text-red-700 transition-colors font-medium py-2 border-b border-red-700">Inventory</a>
      <a href="{% url 'carzz:coming-soon' %}" class="block text-black hover:text-red-700 transition-colors font-medium py-2 border-b border-red-700">About Us</a>
      <a href="{% url 'carzz:coming-soon' %}" class="block text-black hover:text-red-700 transition-colors font-medium py-2 border-b border-red-700">Cars</a>
      <a href="{% url 'carzz:coming-soon' %}" class="block text-black hover:text-red-700 transition-colors font-medium py-2 border-b border-red-700">Services</a>
      <a href="{% url 'carzz:coming-soon' %}" class="block text-black hover:text-red-700 transition-colors font-medium py-2 border-b border-red-700">Contact</a>
      {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="block bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">Logout</a>
        <a href="{% url 'carzz:dashboard_router' %}" class="block bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">Your Dashboard</a>
      {% else %}
        <a href="{% url 'register' %}" class="block bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">SignUp</a>
        <a href="{% url 'login' %}" class="block bg-red-700 px-2 py-1 pb-2 rounded-full text-white text-center">Login</a>
      {% endif %}
    </div>
  </div>
</nav>

