{% extends "carzz/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
 

 <div class="container mx-auto max-w-xl p-6" >
    <!-- Coupon Code Card Form -->
    <div class="bg-gray-100  p-6 rounded-lg shadow-lg">

        <h1 class="text-2xl font-semibold mb-4">Forgotten your password?</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="coupon" class="block text-gray-700 font-semibold mb-2">Enter Email:</label>
                {{ form.email }}
                <div class="text-center pt-5">
                    <button class="bg-red-700 text-white px-4 py-2 rounded-lg" type="submit">
                           Submit
                        </button>
                </div>
            </div>
        </form>

      
        <!-- <div class="mb-4">
            <label for="coupon" class="block text-gray-700 font-semibold mb-2">Coupon Code:</label>
            <input type="text" id="coupon" name="coupon" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500 focus:border-blue-500" placeholder="Enter your coupon code">
        </div> -->

        <!-- Apply Button -->
        

        
    </div>
</div>
{% endblock %}