{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
        {% tailwind_css %}
        {% load cloudinary %}
    

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
</head>
<body>
    

    {% include 'carzz/includes/navbar.html' %}

    <section id="messages " class=" fixed py-5 px-5 z-50">
        {% include "carzz/partials/toast.html" %}
    </section>

   
    
     
   

    {% block content %}
    {% endblock %}

    

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>