<h1>Car Detail Page </h1>


{{ car.make }}
{{ car.model }}
{{ car.year }}
<img src="{{ car.thumbnail.url }}" alt=""
 style="width: 300px; height: auto;">
{{ car.price }}
{{ car.description }}
 Views: {{ car.views }}
 {% if car.sold == True %}
    Status:Sold
 {% else %}
    Status:Available
{% endif %}


<form method="post" action="{% url 'carzz:save_car' car.id %}">
    {% csrf_token %}
    {% if car in saved_cars %}
        <button type="submit" class="btn btn-danger">Unsave</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Save</button>
    {% endif %}
</form>

<h2>Car images</h2>
<div>
    {% for image in images %}
     <h3>{{ image.get_view_type_display }}</h3>
     <img src="{{ image.image.url }}" alt="{{ image.get_view_type_display }}"
     style="width: 300px; height: auto;">
    {% empty %}
        <p>No images available for this car </p>
    {% endfor %}
</div>

<p>
    Dealer:
        <a href="{% url 'carzz:dealer_profile' car.dealer_id %}">
      {{ car.dealer.name }}</a>

</p>
