<h1> Welcome to your dashboard </h2>
    <p> Welcome {{ dealer.email }}

    {% if has_profile %}
        <p>Exists</p>
    {% else %}
    <a href="{% url 'carzz:add_car' %}">Add your cars</a>
    {% endif %}

    <!-- <a href="{% url 'carzz:setup_profile' %}">Create your profile</a> -->
    <a href="{% url 'carzz:update-profile' %}">Update your profile</a>

    <hr>
    Name: {{ dealer_profile.name}}
    Phone: {{ dealer_profile.phone_number}}
    Address: {{ dealer_profile.address }}
    website: {{ dealer_profile.website }}
    Socials: {{ dealer_profile.social_media }}
    Years in biz: {{ dealer_profile.years_in_business }}
    Date joined: {{ dealer_profile.date_joined }}
    <p>Total Views for Your Cars: {{ total_views }}</p>
    <p>Total Number of cars sold: {{ no_of_sold_cars }}</p>

<hr>
{% for car in dealer_cars %}
        <li>
            {% if car.thumbnail %}
                <img src="{{ car.thumbnail.url }}" alt="" style="width: 300px; height: auto;"> 
                <p>{{ car.make }} <a href="{% url 'carzz:edit-car' car.id %}">
                    edit car
                </a></p>
                <p>{{ car.make }} <a href="{% url 'carzz:delete_car' car.id %}">
                    Remove
                </a></p>
                <p>{{ car.model }}</p>
                <p>{{ car.price }}</p>
                <p>Views:{{ car.views }}</p>
                <ul>
                    {% for image in car.images.all %}
                    <li>
                        <img src="{{ image.image.url }}" alt="" style="width: 300px; height: auto;">
                        {% if image.view_type %}
                            <p>View:{{ image.get_view_type_display }}</p>
                        {% endif %}
                    </li>
                        {% empty %}
                            <p>No image available </p>
                        {% endfor %}
                </ul>
                
            {% endif %}
        </li>
        {% if not car.sold %}
        <form method='POST'>
            {% csrf_token %}
            <input type="hidden" name="car_id" value="{{ car.id }}">
            <button type="submit" name="mark_as_sold">Mark as Sold</button>
        </form>
        {% else %}
            <p>Already Sold</p>
            <form method='POST'>
                {% csrf_token %}
                <input type="hidden" name="car_id" value="{{ car.id }}">
                <button type="submit" name="unmark_as_sold">Unmark as Sold</button>
            </form>
        {% endif %}
                        
{% endfor %}