{% extends "carzz/base.html" %}
{% block content %}


       

            <div
            class="flex h-screen bg-gray-50 dark:bg-gray-900"
            :class="{ 'overflow-hidden': isSideMenuOpen }"
          >
            <aside
              class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
            >
              <div class="py-4 text-gray-500 dark:text-gray-400">
                <a
                  class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200"
                  href="#"
                >
                  Carzz
                </a>
                <ul class="mt-6">
                  <li class="relative px-6 py-3">
                    <span
                      class="absolute inset-y-0 left-0 w-1 bg-red-700 rounded-tr-lg rounded-br-lg"
                      aria-hidden="true"
                    ></span>
                    <a
                      class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"
                      href="index.html"
                    >
                      <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                        ></path>
                      </svg>
                      <span class="ml-4"> Dashboard</span>
                    </a>
                  </li>
                </ul>
                <ul>
                  <li class="relative px-6 py-3">
                    <a
                      class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                      href="{% url 'carzz:create_user_profile' %}"


                    > 
                      <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                        ></path>
                      </svg>
                      <span class="ml-4">Create Profile</span>
                    </a>
                  </li>
                  <li class="relative px-6 py-3">
                    <a
                      class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                      href="{% url 'carzz:user_profile' user_profile.user_id %}"


                    > 
                      <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                        ></path>
                      </svg>
                      <span class="ml-4">Check Profile</span>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </aside>
          
            <div class="flex flex-col flex-1 w-50">
              <main class="max-h-full overflow-y-auto">
                <div class="container px-6 mx-auto grid">
                  <h2
                    class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200 text-center"
                  >
                    {{ user.first_name}} Dashboard
                  </h2>
          
                  <div class="flex justify-around sm:block md:block ">
                    <div class="py-5 lg:hidden xl:hidden">
                      <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'carzz:create_user_profile' %}"
                      > 
                        <svg
                          class="w-5 h-5"
                          aria-hidden="true"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                          ></path>
                        </svg>
                        <span class="ml-4">Create Profile</span>
                      </a>
                      <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'carzz:update_user_profile' %}"
                      > 
                        <svg
                          class="w-5 h-5"
                          aria-hidden="true"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                          ></path>
                        </svg>
                        <span class="ml-4">Update Profile</span>
                      </a>
                    </div>
                    
          
                  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                   
                    <div
                      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
                    >
                      <div
                        class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500"
                      >
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                          <path
                            d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                          ></path>
                        </svg>
                      </div>
                      <div>
                        <p
                          class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                        >
                          Saved Cars
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                          6389
                        </p>
                      </div>
                    </div>
            
                    <div
                      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
                    >
                      <div
                        class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500"
                      >
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                          <path
                            fill-rule="evenodd"
                            d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </div>
                      <div>
                        <p
                          class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                        >
                          Total Views
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                          {{ total_views }}
                        </p>
                      </div>
                    </div>
                    
                   
                  </div> 
                </div>
                
          
              </main>
            </div>
            
          </div>
          <section class="cars">
            <div class="container px-4 py-14 text-red-700 text-center mx-auto">
              <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16"></div>
              <h3 class="text-3xl uppercase">Your Saved Cars</h3>
              <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
                <div class="border-b mb-5 flex justify-between text-sm">
                  <div
                    class="text-red-700 flex items-center pb-2 pr-2 border-b-2 border-red-700 uppercase"
                  >
                    <a href="#" class="font-semibold inline-block">Cars</a>
                  </div>
                  <a href="#">See All</a>
                </div>
          
                <div
                  class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
                >
                  {% for car in saved_cars %}
                  <!-- CARD 1 -->
                  <div
                    class="rounded-br-badge rounded-t-md overflow-hidden shadow-lg flex flex-col w-60 lg:gap-x-2"
                  >
                    <a href="#"></a>
                    <div class="relative">
                      <a href="#">
                        <img
                          class="w-full"
                          src="{{ car.thumbnail.url }}"
                          alt="Sunset in the mountains"
                        />
          
                        <div
                          class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
                        ></div>
                      </a>
                      <a href="#!">
                        <div
                          class="text-xs absolute top-0 right-0 bg-red-700 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-red-700 transition duration-500 ease-in-out"
                        >
                          Available
                        </div>
                      </a>
                    </div>
                    <div class="px-6 py-4 mb-auto">
                      <a
                        href="#"
                        class="font-medium text-lg inline-block hover:text-red-700 transition duration-500 ease-in-out mb-2"
                      >
                        {{ car.Model }}
                      </a>
                      <div class="text-gray-500 text-sm">
                        <p>{{ car.make }}</p>
                        <p>{{ car.model }}</p>
                        <p>{{ car.price }}</p>
                      </div>
                    </div>
                    <a href="{% url 'carzz:delete_saved_car' car.id%}">
                   <button type="submit">Delete car</button>
                  </a>
                  </div>
                  {% empty %}
                  <div class=" container mx-auto">
                    <p class="text-2xl  text-center ">No saved cars yet </p>
                  </div>

                  {% endfor %}
                </div>
              </div>
            </div>
          </section>
{% endblock %}