{% extends "carzz/base.html" %}
 {% block content %}

<!-- <form action="" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ profile_form.as_p }}
    <button type="submit">Update</button>
    
</form> -->
<section class="py-10 my-auto dark:bg-gray-900">
  <div class="lg:w-[80%] md:w-[90%] xs:w-[96%] mx-auto flex gap-4">
    <div
      class="lg:w-[88%] md:w-[80%] sm:w-[88%] xs:w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-gray-800/40"
    >
      <div class="">
        <h1 id="name"
          class="text-center  lg:text-3xl md:text-2xl sm:text-xl xs:text-xl font-serif font-extrabold mb-2 dark:text-white"
        >
          Profile
        </h1>
        
        <form action="" method="post"  enctype="multipart/form-data" class="outline-red-50">
          {% csrf_token %}

          <div
            class="w-full rounded-sm  bg-cover bg-center bg-no-repeat items-center"
             style="background-image: url('')"
          >
           </div>
            {% if request.user_profile.profile_picture.url %}
              <div class="mx-auto flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full bg-cover bg-center bg-no-repeat">
                <img src="{{ user_profile.profile_picture.url }}"  id="avatar" class="rounded-full bg-cover w-40" alt="">
              </div>
            {% else %}
              <div class="mx-auto flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full bg-cover bg-center bg-no-repeat">
                <img src=""  id="avatar" class="rounded-full bg-cover w-40" alt="">
              </div>
            {% endif %} 
   
          
              <div class="bg-white/90 rounded-full w-6 h-6 text-center ml-28 mt-4">
              
                
                
              </div>
            </div>
            <div class="flex justify-end">
            
             
              

              <div
                class="bg-white flex items-center gap-1 rounded-tl-md px-2 text-center font-semibold"
              >
                
              </div>
            </div>
            <h2 class="text-center mt-1 font-semibold dark:text-gray-300">Upload Profile and Cover Image</h2>
            
            <div
              class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full"
            >

            
               <div class="w-full mb-4 mt-6">
                <label for="" class="mb-2 dark:text-gray-300">Full Name</label>
                    {{ profile_form.name }}
                
              </div>
               <div class="w-full mb-4 mt-6">
                <label for="" class="mb-2 dark:text-gray-300">Email</label>
                    {{ profile_form.email }}
                
              </div>
              
            </div>
            <div
              class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full"
            >
            <div class="w-full mb-4 mt-6">
                <label for="" class="mb-2 dark:text-gray-300">Phone Number</label>
                {{ profile_form.phone_number }}
              </div>

              <div class="w-full mb-4 lg:mt-6">
                <label for="" class="dark:text-gray-300">Address</label>
                    {{ profile_form.address }}
              </div>
            </div>
            
              
            <div class="w-full mb-4 lg:mt-6">
              <label for="" class="dark:text-gray-300">Profile Pic</label>
              {{ profile_form.profile_picture }} 
             
            </div>

            <div class="mb-6 text-center py-5">
                <input
                  class="w-full px-4 py-2 font-bold text-white bg-red-700 rounded-full hover:bg-red-800 dark:bg-blue-700 dark:text-white dark:hover:bg-blue-900 focus:outline-none focus:shadow-outline"
                  type="submit" value="Update"
                >
              </div>
            </div>
 
                 
                
            </form>
      </div>
    </div>
  </div>
</section>

<script>
    //updating the image
    const fileInput = document.querySelector('input[type="file"]');
    fileInput.addEventListener('change',(event) =>{
        const file = event.target.files[0];
        const image = document.querySelector('#avatar');

        if (file && file.type.includes('image')){
            const url = URL.createObjectURL(file);
            image.src = url;
        }
    });
    //updating the name
    const nameInput = document.getElementById('id_name');
    const nameOutout = document.getElementById('name');

    nameInput.addEventListener('input',(event) =>{
        nameOutout.innerText = event.target.value;
    })
</script>

{% endblock %}
 
